@import "../styles.scss";

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #6c757d30
}

.upper-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: xx-large;
    font-weight: 900;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
}

.logo:hover {
    color: $dark;
}

.searchbar {
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    background: #fff;
    border: 0.5px $secondary-color solid;
}

.searchbar:focus {
    outline: none;
    border: 0.5px $primary-color solid;
}

.searchbar::placeholder {
    color: $secondary-color;
}

.searchbar:focus::placeholder {
    color: $primary-color;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 999px;
    background: $dark;
    color: #fff;
    border: none;
    transition: background 0.3s ease-in-out;
}

.search-button:hover {
    cursor: pointer;
    background: $primary-color;
}

.search-icon {
    width: 0.8rem;
    height: 0.8rem;
    color: inherit;
    fill: $light;
}

.searchbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar a:not(:last-child) {
    padding-right: 1.5rem;
    border-right: 2px solid $dark;
}

.navbar a {
    color: $dark;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.navbar a:hover {
    color: $primary-color;
}

.navbar a.active {
    color: $primary-color;
    text-decoration: underline;
}

.navbar a.active:hover {
    color: $primary-color;
}

.navbar a:last-child {
    padding-right: 0;
    border-right: none;
}

.router-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}